<div id="form">
    <h2>Login</h2>
    <form action="/auth/signup" method="POST">
   
      <label> Username
        <input type="text" name="username" placeholder="username" />
      </label>
   
      <label> Password
        <input type="password" name="passwordHash" placeholder="********" />
      </label>
   
      <button type="submit">Login</button>
      <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color: red"><%= errorMessage %></p>
        <% } %>
    </form>
  </div>