<link rel="stylesheet" href="/stylesheets/style.css" />
<body></body>
<div class="bg-container"></div>
<img src="/images/Logo.png"width="120"/>
<div id="homeBtnLogin"><form method="GET" action="/">
  <button class="goback-button" type="submit">Go Back to Home</button>
</form>
</div>
<div id="form">
    <h2>Login To Your Existing Account</h2>
    <form action="/auth/login" method="POST">
   
      <label> Username
        <input type="text" name="username" placeholder="username" />
      </label>
   
      <label> Password
        <input type="password" name="password" placeholder="********" />
      </label>
   
      <button class="login-button" type="submit">Login</button>
      <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color: red"><%= errorMessage %></p>
        <% } %>
    </form>
  </div>