<div id="form">
    <h2>Signup</h2>
    <form action="/auth/signup" method="POST">
   
      <label> Username
        <input type="text" name="username" required placeholder="username" />
      </label>
   
      <label> Password
        <input type="password" name="password" required placeholder="********" />
      </label>
   
      <button type="submit">Create Employee Account</button>
      <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color: red"><%= errorMessage %></p>
        <% } %>
    </form>
  </div>