
<body style="background-color:rgb(254, 254, 159);"></body>
<img src="/images/Logo.png"width="120"/>
<h1>Event Dashboard</h1>
<h2>Hello <%= user %></h2>

<ul id="commentul">
    <% allComments.forEach(comment => { %>
      <li><%= comment.content %> - <%= comment.author.username %></li>
    <% }) %>
  </ul>
  

  <form method="get" action="/auth/logout">
    <button type="submit">Logout</button>
  </form>
  
