<h1> Hello 🚀</h1>
<<<<<<< HEAD
<p>Company Name - Employee</p>
=======
<p>Company Name - Employee</p>
<button><a href="/auth/signup">Signup</a></button>
<br>
<br>
<button><a href="/auth/login">Login</a></button>
>>>>>>> fede
