<body style="background-color:rgb(254, 254, 159);"></body>
<h1>Profile Page</h1>
<h2>Hello <%= user.username %></h2>
<form action="/profile" method="POST">
<button type="submit">Checkin</button>
<br>
<br>
<button type="submit">Checkout</button>
<br>
<br>
<button type="submit"><a href="/comments">Go to Comments Page</a></button>


</form>
