body {
  padding-left: 5%;
  background-color:rgb(254, 254, 159);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-container {
  text-align:center;
  background-image: url("/images/Logo.png");
  opacity: 50%;
  margin: auto;
  position: fixed;
  width: 125%;
  height: 150%;
  z-index: -1;
  background-position: center center;
}

button {
  background-color: #000000; /* Green */
  border: none;
  color: rgb(254, 254, 159);
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgb(181, 52, 102);; /* Green */
  color: rgb(254, 254, 159);
}

.postacomment {
  size: 500px;
}

.input-comment {
  width: 500px;
  height: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(181, 52, 101, 0.336);
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  resize: auto;
  text-align: left;
  vertical-align: top;
}
.text-box {
  width: 500px;
  height: 150px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(181, 52, 101, 0.336);
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
  resize: auto;
}

.text-box textarea {
  border: none; 
  width: 100%; 
  height: 100%; 
  box-sizing: border-box; /* includes the padding and border in the textarea's dimensions */
  background-color: rgb(240, 240, 240);
  resize: auto;
}

.delete-button {
  padding: 4px 8px;
  font-size: 12px;

}

.post-button {
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 25%;
  margin-top: 10px;
}

.goback-button {
  padding: 4px 20px;
  font-size: 12px;
}

.logout-button {
  padding: 4px 24px;
  font-size: 12px;
}

.signup-button {
  padding: 8px 16px;
  font-size: 14px;
}

.login-button {
  padding: 8px 16px;
  font-size: 14px;
}

.user-span {
  font-weight: bold;
}

.comment-span {
  font-weight: bold;  
}

.checks-span {
  font-weight: bold;  
}

.datetime {
  font-size: 12px;
}

